<div class="container">
    <h1><%=title %></h1>
    <a href="/business-contact-add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Contact
    </a>
    <div class="row">
        <div class="column">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center"#></th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Province</th>
                        <th scope="col">Postal Code</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email Address</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="businessContactList">
                    <% for(let count=0; count < businesscontacts.length; count++) { %>
                        <tr>
                            <td scope="row" class="text-center"></td>
                            <td><%= businesscontacts[count].firstname %></td>
                            <td><%= businesscontacts[count].lastname %></td>
                            <td><%= businesscontacts[count].address %></td>
                            <td><%= businesscontacts[count].city %></td>
                            <td><%= businesscontacts[count].province %></td>
                            <td><%= businesscontacts[count].postalcode %></td>
                            <td><%= businesscontacts[count].phonenumber %></td>
                            <td><%= businesscontacts[count].email %></td>
                            <td class = "text-center col-1">
                                <a class="btn btn-primary" href="/business-contact-edit/<%= businesscontacts[count].id %>">
                                    Edit
                                </a>
                            </td>
                            <td class = "text-center col-1">
                                <a class="btn btn-warning" href="/business-contact-delete/<%= businesscontacts[count].id %>">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>